# =========================
# Node / Backend
# =========================
server/node_modules/
server/dist/
server/.env
server/npm-debug.log
server/yarn-error.log

# =========================
# React / Frontend
# =========================
client/node_modules/
client/dist/
client/.env
client/.DS_Store
client/npm-debug.log

# =========================
# Global
# =========================
*.log
.env
.DS_Store
Thumbs.db
*.cache

# IDE files
.vscode/
.idea/
*.swp

# OS
.DS_Store
